body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.app-tabs {
	width: 480px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.list {
	border: 1px solid #999;
	margin: 0 0 16px;
	padding: 0;
	border-top-width: 0;
	font-family: Roboto, sans-serif;
	color: #000;
}

.list-item {
	list-style: none;
	text-align: left;
	border-bottom: 1px solid #999;
	padding: 16px;
}

.list-loading, .list-empty, .list-error {
	border: 1px solid #999;
	padding: 100px 16px;
	border-top-width: 0;
	user-select: none;
}

.list-item:last-child {
	border-bottom: 0;
}

.list-item:first-child {
	border-top: 0;
}

.author {

}

.title {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	width: calc(100% - 150px);
}

.description {
	margin: 6px 0 0;
}

.item-wrap {
	display: flex;
	justify-content: space-between;
}

.action-link {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	user-select: none;
}

.tags {
	margin: 16px 0 0;
}

.tag {
	background: #ddd;
	display: inline-block;
	vertical-align: middle;
	margin: 0 6px 0 0;
	cursor: pointer;
	padding: 2px 6px;
	user-select: none;
}

.tags-filter {
	padding: 32px;
	border: 1px solid #999;
	border-top-width: 0;
	color: #000;
	font-family: Roboto, sans-serif;
	text-align: left;
}

.tags-filter-title {

}

.clear-button {
	cursor: pointer;
	text-decoration: underline;
}

.app .ant-tabs {
	width: 480px;
}

.app .ant-tabs-bar {
	margin-bottom: 0;
	margin-top: 16px;
	font-family: Roboto, sans-serif;
}

.app .ant-tabs-nav,
.app .ant-tabs-nav > div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.app .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
	border-color: #999;
	color: #000;
	font-size: 14px;
	border-radius: 0;
	margin-right: 0;
	flex: 1;
	user-select: none;
	transition: none;
}

.app .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:last-child {
	border-right-width: 1px;
}

.app .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
	border-right-width: 0;
}

.app .ant-tabs-nav .ant-tabs-tab-active {
	font-weight: bold;
}

.app .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
	border-bottom: 0;
}
